/*
 * JSF-specific
 */
 
.table-component-column .rich-tabpanel
{
	margin-top: 20px;
}

.table-component-column .rich-tabpanel td
{
	font-size: 10pt;
}

.table-component-column input, .rich-slider
{
	width: 99%;
}

.table-component-column .rich-slider input
{
	width: auto;
}
