<div id="dialog-position">

	<div id="dialog">

		<div id="dialog-heading">
			{{dialogTitle}}
		</div>

		<div id="dialog-content">

			<img id="dialog-image" ng-src="media/{{current.type}}.gif" alt=""/>

			<metawidget ng-model="current" read-only="readOnly" config="metawidgetConfig.form">
				<table id="currentCommunications" class="data-table">
					<thead>
						<tr>
							<th class="column-half">Type</th>
							<th class="column-half">Value</th>
							<th class="column-tiny"></th>
						</tr>
					</thead>
					<tfoot ng-show="!readOnly">
						<tr>
							<td class="column-half"><metawidget ng-model="communication.type" config="metawidgetConfig.simple"></metawidget></td>
							<td class="column-half"><metawidget ng-model="communication.value" config="metawidgetConfig.simple"></metawidget></td>
							<td class="column-tiny, table-buttons"><button ng-click="addCommunication()">Add</button></td>
						</tr>
					</tfoot>
					<tbody>
						<tr ng-repeat="communication in current.communications">
							<td class="column-half">{{communication.type}}</td>
							<td class="column-half">{{communication.value}}</td>
							<td class="column-tiny, table-buttons" ng-show="!readOnly"><button ng-click="removeCommunication($index)">Delete</button></td>
						</tr>
					</tbody>
				</table>
				
				<facet name="footer">
					<metawidget ng-model="crudActions" config="metawidgetConfig.buttons"></metawidget>
				</facet>
			</metawidget>

		</div>
	</div>
</div>