<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="addressBook">
	<head>
		<meta charset="utf-8">
		<title>Address Book (Metawidget AngularJS Example)</title>
		<link rel="stylesheet" type="text/css" href="css/addressbook.css" media="all"/>
		<link rel="stylesheet" type="text/css" href="css/framework-specific-addressbook.css" media="all"/>
		<script src="lib/angular/angular.js"></script>
		<script src="lib/metawidget/core/metawidget.js"></script>
		<script src="lib/metawidget/core/metawidget-inspectors.js"></script>
		<script src="lib/metawidget/core/metawidget-widgetbuilders.js"></script>
		<script src="lib/metawidget/core/metawidget-widgetprocessors.js"></script>
		<script src="lib/metawidget/core/metawidget-layouts.js"></script>
		<script src="lib/metawidget/core/metawidget-utils.js"></script>
		<script src="lib/metawidget/angular/metawidget-angular.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/services.js"></script>
	</head>
	<body>

	<div id="page-image">
		<img src="media/addressbook.gif" alt=""/>
	</div>

	<div id="content" ng-controller="ContactsController">

		<metawidget to-inspect="search" config="metawidgetConfig.form"></metawidget>
		<div class="buttons">
			<metawidget to-inspect="searchActions" config="metawidgetConfig.buttons"></metawidget>
		</div>

		<table class="data-table">
			<thead>
				<tr>
					<th class="column-half">Name</th>
					<th class="column-half">Contact</th>
					<th class="column-tiny">&nbsp;</th>
				</tr>
			</thead>
			<tbody>

				<tr ng-repeat="contact in contacts | filter:filter">
					<td class="column-half">
						<a href="#/contact/{{contact.id}}">
							{{contact.firstname}} {{contact.surname}}
						</a>
					</td>
					<td class="column-half">
						<span ng-repeat="communication in contact.communications">
							{{communication.type}}: {{communication.value}}
						</span>
					</td>
					<td class="column-tiny">
						<img src="media/personal-small.gif" alt="Personal Contact" ng-show="contact.type == 'personal'"/>
						<img src="media/business-small.gif" alt="Business Contact" ng-show="contact.type == 'business'"/>
					</td>
				</tr>

			</tbody>
		</table>

	</div>

	<div style="height: 50px"></div>

	<div ng-view></div>

	</body>
</html>
