<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="contacts" class="org.metawidget.example.shared.addressbook.controller.ContactsController" />

	<bean id="communications" class="org.metawidget.example.shared.addressbook.controller.CommunicationsController" />

</beans>


