<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>
		Address Book (Metawidget Java Server Faces Example)
	</display-name>

	<!-- Faces -->

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	
	<!-- Test org.metawidget.faces.component.CONFIG_FILE -->
	
	<context-param>
		<param-name>org.metawidget.faces.component.CONFIG_FILE</param-name>
		<param-value>config-richfaces/metawidget.xml</param-value>
	</context-param>
	
</web-app>

