body {
	font-family: Arial, sans-serif;
	font-size: 10pt;
}

h1,h2,h3 {
	font-family: "Trebuchet MS", Arial, sans-serif;
}

h1 {
	font-size: 33px;
	font-weight: normal;	
}

h2 {
	font-size: 24px;
	font-weight: normal;
}

.h2-underneath {
	margin-top: 30px;
}

h3 {
	font-weight: bold;
	margin-bottom: 0px;
}

.h3-underneath {
	margin-top: 25px;
}

h3 a  {
	color: black;
}

h4 {
	font-size: 10pt;
	font-weight: normal;
	font-style: italic;
	margin-top: 0px;
}

p {
	margin-right: 30px;
}

/*
 * Content
 */

#content-text {
	vertical-align: top;
}

.data-table {
	border: 1px solid black;
	width: 80%;
	margin: auto;
}

.data-table thead tr th {
	border-bottom: 1px solid #085AA4;
	text-align: left;
	padding: 2px;
}

.data-table tbody tr th {
	vertical-align: top;
	text-align: left;
	white-space: nowrap;
	padding: 2px;
}

.data-table tbody tr td {
	text-align: left;
	padding: 2px;
}

.data-table tbody tr .link {
	text-align: center;
	font-style: italic;
	width: 75px;
}

.acknowledgements {
	width: 80%;
	margin: auto;
}

.acknowledgements td {
	width: 33%;
}

.acknowledgements td span {
	display: block;
	font-style: italic;
	color: #cccccc;
}

.code {
	background-color: #eeeeee;
   	border: 1px dashed #cccccc;
	font-size: 8pt;
	padding: 5px;
	width: 80%;
	margin: auto;
}

hr {
	border: 1px solid #cccccc;
	margin-top: 30px;
	margin-bottom: 30px;	
}

/*
 * Front page
 */

#quick-start {
	float: right;
	margin-left: 10px;
	margin-bottom: 15px;
	width: 150px;
}

#quick-start table {
	width: 100%;
}

#quick-start h3 {
	margin: 0;
	text-align: center;
}

#quick-start td {
	padding: 3px;
}

#supported-tech {
	width: 500px;
	border: 1px solid black;
	margin-bottom: 40px;
}

#supported-tech thead th {
	background-color: black;
	color: white;
}

#supported-tech h3 {
	margin: 0;
	text-align: center;
	padding: 2px;
}

#supported-tech em {
	display: block;
	text-align: center;
	padding: 2px;
}

#supported-tech tbody ul {
	margin-top: 10px;
	margin-bottom: 10px;
}

#supported-tech tbody ul ul {
	margin-top: 0px;
	margin-left: 15px;
	margin-bottom: 0px;
}

#supported-tech tbody td {
	font-size: 8pt;
	vertical-align: top;
	width: 50%;
	text-align: left;
}

#supported-tech tbody tr td {
	border: 1px solid black;
}

/*
 * Videos
 */

.video {
	margin: 0 auto;
	width: 640px;
	border: 1px solid #cccccc;
	margin-bottom: 5px;
}

.videos-table {
	width: 900px;
	margin: 0 auto;
}

.videos-table td {
	width: 640px;
}

.videos-table th {
	border-top: 2px solid #085AA4;
	padding-left: 5px;
	vertical-align: top;
	text-align: left;
	font-weight: normal;
}

.videos-table th h4 {
	margin-top: 10px;
	font-weight: bold;
}

/*
 * Screenshots
 */

#table-screenshots td {	
	font-size: 8pt;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 30px;
}

#table-screenshots img {
	display: block;
	margin-bottom: 5px;	
	border: 0;
}

/*
 * FAQ
 */

#comparison-table thead td {
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid #085AA4;
	padding: 2px;
}

#comparison-table tbody th {
	vertical-align: middle;
}

#comparison-table tbody td {
	width: 30%;
	text-align: center;
	font-size: 8pt;
}

/*
 * Elevator
 */

#elevator {
	position: relative;
	width: 575px;
	height: 1360px;
	margin: 30px auto;
}

#elevator .frame {
	position: absolute;
}

#elevator .bob-bubble, #elevator .john-bubble {
	position: absolute;
	width: 240px;
}

#elevator .frame .bob-bubble .bubble, #elevator .frame .john-bubble .bubble {
	font-family: Comic Sans MS, Arial;
	font-size: 8pt;
	font-weight: bold;
	border: 2px solid black;
	border-radius: 5px;
	padding: 5px;
	opacity: .75;
	filter: alpha( opacity = 75 );
	text-transform: uppercase;
	width: 100%;
}

#elevator .bob-bubble .bubble {
	background-color: #FFFFC0;
}

#elevator .john-bubble .bubble {
	background-color: #C0FFC0;
}

#elevator .arrow-down {
	width: 24px;
	height: 13px;
	position: relative;
	top: -2px;
}

#elevator .bob-bubble .arrow-down {
	background: url(../media/elevator/arrow-bob-down.gif) no-repeat;
}

#elevator .john-bubble .arrow-down {
	background: url(../media/elevator/arrow-john-down.gif) no-repeat;
}

#elevator .bob-bubble .arrow-left {
	position: absolute;
	background: url(../media/elevator/arrow-bob-left.gif) no-repeat;
	width: 13px;
	height: 24px;
	left: 0px;
}

#elevator .john-bubble .arrow-right {
	position: absolute;
	background: url(../media/elevator/arrow-john-right.gif) no-repeat;
	width: 13px;
	height: 24px;
}

#elevator #frame1 {
	top: 0px;
	left: 0px;
}

#elevator #frame1 .bob-bubble {
	top: 10px;
	left: 10px;
	width: 100px;
	text-align: center;
}

#elevator #frame1 .bob-bubble .arrow-down {
	left: 30px;
}

#elevator #frame1 .john-bubble {
	top: 70px;
	left: 130px;
	width: 100px;
	text-align: center;
}

#elevator #frame1 .john-bubble .arrow-down {
	left: 40px;
}

#elevator #frame2 {
	top: 0px;
	left: 260px;
}

#elevator #frame2 .john-bubble {
	top: 30px;
	left: 80px;
	width: 150px;
}

#elevator #frame2 .john-bubble .arrow-down {
	left: 120px;
}

#elevator #frame3 {
	top: 340px;
	left: 50px;
}

#elevator #frame3 .bob-bubble .arrow-down {
	left: 60px;
}

#elevator #frame3 .john-bubble {
	top: 97px;
	left: 136px;
	width: 100px;
	text-align: center;
}

#elevator #frame3 .john-bubble .arrow-down {
	left: 35px;
}

#elevator #frame4 {
	top: 340px;
	left: 310px;
}

#elevator #frame4 .bob-bubble {	
	top: 10px;
	left: 10px;
	width: 210px;
}

#elevator #frame4 .bob-bubble .bubble {	
	margin-left: 11px;
}

#elevator #frame4 .bob-bubble .arrow-left {
	top: 40px;
}

#elevator #frame5 {
	top: 680px;
	left: 0px;
}

#elevator #frame5 .john-bubble .arrow-down {
	left: 210px;
}

#elevator #frame5 .bob-bubble {
	top: 65px;
	left: 5px;
	width: 180px;
}

#elevator #frame5 .bob-bubble .arrow-down {
	left: 40px;
}

#elevator #frame6 {
	top: 680px;
	left: 260px;
}

#elevator #frame6 .bob-bubble .arrow-down {
	left: 20px;
}

#elevator #frame7 {
	top: 1020px;
	left: 50px;
}

#elevator #frame7 .bob-bubble .arrow-down {
	left: 10px;
}

#elevator #frame7 .john-bubble {
	top: 115px;
	left: 175px;
	width: 50px;
	text-align: center;
}

#elevator #frame7 .john-bubble .bubble {
	margin-right: 11px;
}

#elevator #frame7 .john-bubble .arrow-right {
	top: 20px;
	left: 62px;
}

#elevator #frame7 .bob-bubble2 {
	top: 183px;
	left: 170px;
	width: 55px;
	text-align: center;
}

#elevator #frame7 .bob-bubble2 .bubble {
	margin-left: 11px;
}

#elevator #frame7 .bob-bubble2 .arrow-left {
	top: 3px;
}

#elevator #frame8 {
	top: 1020px;
	left: 310px;
}

#elevator #frame8 .john-bubble {
	top: 10px;
	left: 30px;	
	width: 200px;
}

#elevator #frame8 .john-bubble .arrow-down {
	left: 130px;
}

#elevator #frame8 .bob-bubble {
	top: 65px;
	width: 145px;
}

#elevator #frame8 .bob-bubble .arrow-down {
	left: 10px;
}
