<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>
		Address Book (Metawidget GWT Example)
	</display-name>

	<!-- Contacts -->

	<servlet>
		<servlet-name>contacts</servlet-name>
		<servlet-class>org.metawidget.example.gwt.addressbook.server.rpc.ContactsServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>contacts</servlet-name>
		<url-pattern>/contacts</url-pattern>
	</servlet-mapping>

	<!-- Metawidget -->

	<servlet>
		<servlet-name>metawidget-inspector</servlet-name>
		<servlet-class>org.metawidget.inspector.gwt.remote.server.GwtRemoteInspectorImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>metawidget-inspector</servlet-name>
		<url-pattern>/metawidget-inspector</url-pattern>
	</servlet-mapping>
	
</web-app>

