body {
	font-family: Arial, sans-serif;
	font-size: 10pt;
}

h1,h2,h3 {
	font-family: "Trebuchet MS", Arial, sans-serif;
}

h1 {
	font-size: 33px;
	font-weight: normal;	
}

h2 {
	font-size: 24px;
	font-weight: normal;
}

h3 {
	font-weight: bold;
}

h3 a  {
	color: black;
}

h4 {
	font-size: 10pt;
	font-weight: normal;
	font-style: italic;
}

/*
 * Content
 */

#content-text {
	vertical-align: top;
}

.data-table {
	border: 1px solid black;
	width: 80%;
}

.data-table thead tr th {
	border-bottom: 1px solid #085AA4;
	text-align: left;
	padding: 2px;
}

.data-table tbody tr th {
	vertical-align: top;
	text-align: left;
	white-space: nowrap;
	padding: 2px;
}

.data-table tbody tr td {
	text-align: left;
	padding: 2px;
}

.data-table tbody tr .link {
	text-align: center;
	font-style: italic;
	width: 75px;
}

/*
 * Front page
 */

#quick-start {
	margin-left: 10px;
	float: right;
}

#quick-start table {
	width: 150px;
	margin-bottom: 15px;
}

#quick-start h3 {
	margin: 0;
	text-align: center;
}

#quick-start td {
	padding: 3px;
}

#supported-tech {
	width: 500px;
	border: 1px solid black;
	margin-bottom: 40px;
}

#supported-tech thead th {
	background-color: black;
	color: white;
}

#supported-tech h3 {
	margin: 0;
	text-align: center;
	padding: 2px;
}

#supported-tech em {
	display: block;
	text-align: center;
	padding: 2px;
}

#supported-tech tbody ul {
	margin-top: 10px;
	margin-bottom: 10px;
}

#supported-tech tbody ul ul {
	margin-top: 0px;
	margin-left: 15px;
	margin-bottom: 0px;
}

#supported-tech tbody td {
	font-size: 8pt;
	vertical-align: top;
	width: 50%;
	text-align: left;
}

#supported-tech tbody tr td {
	border: 1px solid black;
}

/*
 * Screenshots
 */

#screenshots td {	
	font-size: 8pt;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 30px;
}

#screenshots img {
	display: block;
	margin-bottom: 5px;	
	border: 0;
}

/*
 * FAQ
 */

#comparison-table thead td {
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid #085AA4;
	padding: 2px;
}

#comparison-table tbody th {
	vertical-align: middle;
}

#comparison-table tbody td {
	width: 30%;
	text-align: center;
	font-size: 8pt;
}

/*
 * Elevator
 */

#elevator {
	position: relative;
	width: 575px;
	height: 1360px;
	margin: 30px auto;
}

#elevator .frame div {
	position: absolute;
	font-family: Comic Sans MS, Arial;
	font-size: 8pt;
	font-weight: bold;
	letter-spacing: -0.5pt;
	border: 2px solid black;
	width: 240px;
	padding: 5px;
	opacity: .75;
	filter: alpha( opacity = 75 );
	text-transform: uppercase;
}

#elevator .bob-bubble {
	background-color: #FFFFC0;
}

#elevator .john-bubble {
	background-color: #C0FFC0;
}

#elevator #frame1 {
	position: absolute;
	top: 0px;
	left: 0px;
}

#elevator #frame1 .bob-bubble {
	top: 10px;
	left: 10px;
	width: 100px;
	text-align: center;
}

#elevator #frame1 .john-bubble {
	top: 70px;
	left: 130px;
	width: 100px;
	text-align: center;
}

#elevator #frame2 {
	position: absolute;
	top: 0px;
	left: 260px;
}

#elevator #frame2 .john-bubble {
	position: absolute;
	top: 30px;
	left: 80px;
	width: 150px;
}

#elevator #frame3 {
	position: absolute;
	top: 340px;
	left: 50px;
}

#elevator #frame3 .john-bubble {
	top: 100px;
	left: 130px;
	width: 80px;
	text-align: center;
}

#elevator #frame4 {
	position: absolute;
	top: 340px;
	left: 310px;
}

#elevator #frame5 {
	position: absolute;
	top: 680px;
	left: 0px;
}

#elevator #frame5 .bob-bubble {
	top: 70px;
	left: 10px;
	width: 150px;
}

#elevator #frame6 {
	position: absolute;
	top: 680px;
	left: 260px;
}

#elevator #frame7 {
	position: absolute;
	top: 1020px;
	left: 50px;
}

#elevator #frame7 .john-bubble {
	top: 100px;
	left: 180px;
	width: 50px;
	text-align: center;
}

#elevator #frame7 .bob-bubble2 {
	top: 170px;
	left: 180px;
	width: 50px;
	text-align: center;
}

#elevator #frame8 {
	position: absolute;
	top: 1020px;
	left: 310px;
}

#elevator #frame8 .john-bubble {
	top: 10px;
	left: 50px;	
	width: 180px;
}

#elevator #frame8 .bob-bubble {
	top: 65px;
	width: 150px;
}
