#top-tabs, #left-bar, #copyright, #quick-start, #floater, #newsticker ul, #footer, #footer-links, .tooltip {
	display: none;
}

a {
	color: black;
	text-decoration: none;
}

#elevator .frame .bob-arrow-down, #elevator .frame .bob-arrow-left {
	display: none;
}

#elevator .frame .john-arrow-down, #elevator .frame .john-arrow-right {
	display: none;
}