/*
 * General
 */
 
body
{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background: url( ../media/background.jpg ) no-repeat;
}

h1, .section-heading
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20pt;
	text-align: left;
}

.section-heading
{
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
}

#page-image
{
	position: absolute;
	top: 15px;
	left: 20px;
}

#content
{
	position: relative;
	top: 30px;
	left: 160px;
	width: 640px;
}

.errors
{
	display: block;
	padding: 5px;
	background-color: #ff8888;
	border: 2px solid red;
	margin-bottom: 20px;
}

.inline-error
{
	color: #880000;
	font-size: 8pt;
	font-weight: bold;
}
	
#small-print
{
	position: relative;
	top: 70px;
	font-size: 8pt;
	color: #888888;
	text-align: right;
	width: 800px;
}

#small-print a
{
	color: #888888;
}

/*
 * Input forms
 */
 
.table-form
{
	width: 100%;
}

.table-label-column
{
	width: 25%;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	font-weight: normal;
}

.table-component-column
{
	width: 75%;
	text-align: left;
	vertical-align: top;
}

.table-component-column input
{
	width: 99%;
}

.table-component-column select
{
	width: 100%;
}

.table-component-column textarea
{
	width: 99%;
	height: 100px;
}

.table-component-column span input
{
	width: auto;
}

.table-required-column
{
	width: 1%;
	color: red;	
	padding-top: 7pt;
	font-size: 20pt;
	line-height: 8pt;
	font-weight: bold;
}

input, textarea, select
{
	font-family: Arial;
}

/*
 * Data tables
 */
 
.data-table
{
	width: 100%;
	border: 1px solid #B3B3FF;
	margin-top: 10px;
}

.data-table th, .data-table .header
{
	background: white url( ../media/background-button.gif ) repeat-x center left;
	height: 20px;
	border-bottom: 1px solid #B3B3FF;
}

.row-even
{
	background-color: #EDEDED;
}

.column-half
{
	width: 50%;
}

.column-tiny
{
	width: 1%;
	text-align: center;
}

.buttons
{
	padding-top: 10px;
	white-space: nowrap;
	text-align: center;
}

.buttons input, .buttons button
{
	border: 1px solid #B3B3FF;
	height: 32px;	
	background: white url( ../media/background-button.gif ) repeat-x center left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	margin-right: 5px;
}

.table-buttons input, .table-buttons button
{
	border: 1px solid #B3B3FF;
	height: 21px;	
	background: url( ../media/background-button.gif ) repeat-x center left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	width: 50px;
	padding-left: 5px;
	padding-right: 5px;
}
